.right {
  border: 1px solid black;
  margin: 10px;
}
.left {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
.display {
  display: flex;
}
.canvas {
  width: 600px;
  height: 600px;
  overflow: visible;
  margin-top: 20px;
}
